<!DOCTYPE html>
<html>
<head>
    <title>Digital Banking Fraud Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>Cybersecurity in Digital Banking</h1>

    <h2>Fraud Detection System</h2>

    <form action="/predict" method="POST">

        {% for i in range(30) %}
            <input type="text"
                   name="feature{{i}}"
                   placeholder="Feature {{i}}"
                   value="0"
                   required>
        {% endfor %}

        <button type="submit">Analyze Transaction</button>

    </form>

    <h3>{{ prediction_text }}</h3>

</div>

</body>
</html>